/*
 *
 */

// Header
.fixed-header #header-navbar {
  max-height: 50px;
}


// Body
#content-wrapper {
	min-height: 1000px;
}

body.no-side-nav {
  #content-wrapper {
    margin-left:0;
  }
}


// ActionPanel
.tk-ui-action-panel {
  .btn {
    margin-right: 10px;
  }
}



