/*
 *
 */

// Header
.fixed-header #header-navbar {
  max-height: 50px;
}


// Body
#content-wrapper {
	min-height: 1000px;
}

body.no-side-nav {
  #content-wrapper {
    margin-left:0;
  }
}


// ActionPanel
.tk-ui-action-panel {
  .btn {
    margin-right: 10px;
  }
}

/* Fix for oversize form input elements with select2 plugin */
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  line-height: 1 !important;
}

