

// Form
.tk-form {
  //@include make-container();

  .nav-tabs {
    > li.nav-item.has-error {
      > a.active,
      > a.active:hover,
      > a.active:focus {
        border-top: 2px solid $red-color-dark;
      }
    }
  }

  .form-control.form-control-static,
  .form-control-static.form-control-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 0.85rem;
    color: #212529;
    background-color: $gray-100;
    border: 2px solid #e7ebee;
    height: auto;
    //cursor: not-allowed;
  }

  .tk-check-select {
    .status-notes {
      margin-top: -2px;
      z-index: 999;
    }
  }
  .form-control::placeholder {
    color: $gray-color-light;
  }
  .input-group-prepend.input-group-append {
    margin-right: -2px;
    margin-left: 0;
  }
  .input-group-text {
    background: #e7ebee;
  }

  /* fix list alignment for the checkbox select form element */
  .tk-checkboxselect {
    li {
      label {
        display: block;
        span, input {
          vertical-align: middle;
        }
      }
    }
  }


  .form-control.checkbox-select {
    padding-top: 0.2rem;
    .btn {
      color: #999;
      margin: 0;
      border: none;
      padding: 0;
      background-color: transparent;
    }
  }

  .form-row {
    //@include make-row();

    &.tk-form-events {
      //margin-left: 0;
      //margin-right: 0;
    }
  }


}

.input-group-prepend,
.input-group-append  {
  .input-group-text {
    border-width: 1px;
  }
  .btn {
    border-width: 0 !important;
  }
}


form.tk-form .form-group label {
  text-align: left;
}

.CodeMirror {
  border: 2px solid #EFEFEF;
}

.ui-autocomplete-loading {
  background: white url($loading-icon) right center no-repeat;
}
.ui-autocomplete {
  z-index: 100;
}




