



.lti-page {

  #content-wrapper {
    margin-left: 0;
    background-color: #fff;
  }

  #content-header {
    background-color: #fff;
  }

 .test {
   color: #ceccfe;
   color: #fe7a78;
   color: #c79376;
   color: #99cdff;
   color: #ff0;
 }
}



