



.nav-tabs > li.nav-item > a:hover {
  border-bottom: 1px solid #FFF;
}
#sidebar-nav {
  .nav-header {
    a {
      color: #a6a6a6;
      &:link {
        color: #a6a6a6;
      }
      &:hover {
        color: #969696;
      }
    }
  }

  ul.nav.navbar-nav {
    margin-bottom: 70px;
  }

  .nav li .submenu {
    padding: 0 0 5px 0;
    > li > a {
      padding-left: 35px;
    }
  }
}

#user-left-box {
  li {
    a {
      white-space: nowrap;
    }
  }
}






